body {
    font-family: fuenteGhibli;
    max-width: 1200px;
    max-height: 673px;
    margin: 0 auto;
    background-image: url('ghibli2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#CartaContainer {
    text-align: center;
}

img#carta {
    width: 830px;
}

#cigarroContainer {
    position: fixed;
    bottom: 100px;
    left: 100px;
    text-align: center;
}

#mensajeCigarro,
#mensajeDejaCigarro {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    display: none;
    border: 3px;
    border-radius: 10px;
}

img#cigarro {
    width: 300px;
}

section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 1200px;
    height: 600px;
    align-items: center;
    justify-items: center;
}

h1 {
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: 50px;
    margin-left: 500px;
    display: inline-block;
    border: 3px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    border: 3px;
    border-radius: 10px;
}

button {
    color: white;
    width: 80px;
    height: 40px;
    border: 3px solid #711DB0;
    border-radius: 10px;
    background-color: black;
    font-size: xx-large;
}

#Si,
#No {
    background-color: black;
    margin-left: 354px;
}

p {
    font-size: 7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}



body{
   font-family: fuenteGhibli; 
}

@font-face{
    font-family: fuenteGhibli;
    src: url ("Cinzel-VariableFont_wght.ttf");
}





